<nav  class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand">Herramientas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
             <!--  <a class="nav-link active" routerLink="/dashboard" >inicio sesion</a> -->
              <ul class="navbar-nav">
                @if(iniciosesionService.eslogueado()){
                  <a class="nav-link active" routerLink="/cargamento" >Cargamentos agregados</a>
                  <a class="nav-link active" routerLink="/create" >Agregar Cargamento</a>
        
                  <li class="nav-item">
                    <a class="nav-link" href="" (click)="iniciosesionService.cerrarSesion()">Cerrar Sesion</a>
                  </li>
                }@else{
                  <li class="nav-item">
                   <!--  <a class="nav-link active" routerLink="/dashboard" >Inicio sesion</a> -->
                  </li>
                }
              </ul>
              </div>
          </div>
        </div>   
</nav>