botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta esta altura según tus necesidades */
  }
  
  .boton1{
    text-align: center;
  }