<div class="form-floating mb-3">
  <select class="form-select" aria-label="Default select example" id="materiaPrima"[(ngModel)]="Materia.materiaPrima">
    <option selected>Tipo de materia</option>
    <option type="string" value="Maiz">Maiz </option>
    <option type="string" value="Harina de soja">Harina de soja</option>
    <option type="string" value="Trigo">Trigo</option>
    <option type="string" value="Cebada">Cebada</option>
  </select>
  </div>
  <div class="form-floating mb-3">
    <input type="date" class="form-control"  id="fechaRecepcion" [(ngModel)]="Materia.fechaRecepcion">
    <label for="floatingInput">Fecha de recepcion</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="cantidadRecibida" [(ngModel)]="Materia.cantidadRecibida">
    <label for="floatingInput">Cantidad Recibida (KG)</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="numeroLote" [(ngModel)]="Materia.numeroLote">
    <label for="floatingInput">Numero de lote</label>
  </div>
  <div class="form-floating mb-3">
    <input type="date" class="form-control"id="fechaCaducidad" [(ngModel)]="Materia.fechaCaducidad" >
    <label for="floatingInput">Fecha de caducidad</label>
  </div>
  <div class="botones-container">
    <div class="boton1">
      <button class="btn btn-primary" type="button"  (click)="GuardarMateria()">Registro</button>
    </div>
  </div>
  
  
  

